.container {
    background-color: #f8f5f5;
    height: 100vh !important;

    .nav {
        // position: fixed;
        background-color: #1565C0;
        // background-image: linear-gradient(to top,#e0dcdc, #8a8989,);
        // background-image: linear-gradient(to top, #8a8989, #e0dcdc);
        min-width: 100% !important;
        height: 8vh;
        margin-bottom: 0.1%;
        align-items: center;
        display: flex;
        text-align: left;
        justify-content: space-between;

        @media (max-width: 576px) {

            /* Add CSS rules for small devices here */
            button {
                font-size: 0;
                /* Hide the button font */
            }
        }
    }


    .footer{
        background-color: #9E9E9E;
        min-width: 100% !important;
        height: 4vh;
        bottom: 0;
        position: absolute;
        margin-top: 1%;
    }
}